.z-code {
    color: #f8fafc;
    background-color: #334155;
}

.z-comment {
    color: #cbd5e1;
}

.z-constant.z-numeric, .z-constant.z-language, .z-support.z-constant, .z-constant.z-character, .z-variable.z-parameter, .z-punctuation.z-section.z-embedded, .z-keyword.z-other.z-unit, .z-punctuation.z-quasi.z-element.z-begin.z-js, .z-punctuation.z-quasi.z-element.z-end.z-js, .z-string, .z-entity.z-other.z-inherited-class, .z-markup.z-heading, .z-constant.z-other.z-symbol {
    color: #60a5fa;
}

.z-keyword, .z-constant.z-other.z-color, .z-storage {
    color: #c084fc;
}

.z-entity.z-name.z-function, .z-entity.z-name.z-method, .z-meta.z-function-call, .z-support.z-function, .z-keyword.z-other.z-special-method, .z-meta.z-block-level, .z-accessor {
    color: #99f6e4;
}

.z-macro {
    color: #fb7185;
}

.z-path {
    color: #f0abfc;
}
