@font-face {
  font-family: 'icomoon';
  src:  url('webfonts/icomoon.eot?kyw6tb');
  src:  url('webfonts/icomoon.eot?kyw6tb#iefix') format('embedded-opentype'),
    url('webfonts/icomoon.ttf?kyw6tb') format('truetype'),
    url('webfonts/icomoon.woff?kyw6tb') format('woff'),
    url('webfonts/icomoon.svg?kyw6tb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "\e945";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
