<!-- page listing macros -->
{% macro page_info(page, preview) %}
    <div>
        {% if page.extra.featured_image %}
            {% set image_path = page.components | join(sep="/") %}
            {% set image_path = image_path ~ "/" ~ page.extra.featured_image %}
            {% if preview %}
                {% set width=800 %}
                {% set height=500 %}
            {% else %}
                {% set width=1200 %}
                {% set height=800 %}
            {% endif %}
            {% set resized_featured_image = resize_image(path=image_path, width=width, height=height, op="fill") %}
            <img
                    src="{{ resized_featured_image.static_path | replace(from="static", to="") }}"
                    alt="{{ page.extra.featured_image_alt }}"
            />
        {% endif %}
        {% if page.date %}
            {% set reading_time = "◦ " ~ page.reading_time ~ " " ~ "min" %}
            <div class="text-center font-light">{{ page.date | date(format="%Y-%m-%d") }} {{ reading_time }} </div>
        {% endif %}
    </div>
{% endmacro page_info %}

{% macro page_tags(page) %}
    <div>
        {% if page.taxonomies.categories %}
            {% set list = page.taxonomies.categories %}
            {% set kind="categories" %}
        {% elif page.taxonomies.tags %}
            {% set list = page.taxonomies.tags %}
            {% set kind="tags" %}
        {% endif %}
        {% if list %}
            {# divider for tags section #}
            <div class="border-t-2 border-gray-600 my-2"></div>
            {# Tags section #}
            <ul class="flex flex-auto place-content-evenly">
                {% for tag in list %}
                    {# Little clickable Tag pills #}
                    <li class="bg-gray-200 dark:bg-gray-500 text-gray-800 dark:text-gray-200
                                hover:bg-gray-400  hover:text-gray-800 py-1 px-2
                                rounded-xl text-sm font-mono underline shadow-md"><a
                            href="{{ get_taxonomy_url(kind=kind, name=tag) | safe }}"

                    >
                        <span class="font-semibold">#</span>{{ tag }}
                    </a></li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
{% endmacro page_tags %}

{% macro page_listing(page, preview) %}
    <article class="rounded-md p-4 shadow-md cursor-pointer dark:bg-slate-700"
             onclick="location.href='{{ page.path }}'">
        <a href="{{ page.path }}">
            <header>
                <h3 class="text-xl font-bold text-center">
                    {{ page.title }}
                </h3>
            </header>

            {% if page.summary %}
                <div class="content post-summary">
                    {{ page.summary | markdown | safe }}
                </div>
            {% endif %}
        </a>

        {{ self::page_info(page=page, preview=preview) }}
        {{ self::page_tags(page=page) }}
    </article>
{% endmacro page_listing %}

{% macro page_pagination(paginator) %}
    <div class="pagination">
        <div class="left pagination-item {% if not paginator.previous %}disabled{% endif %}">
            {% if paginator.previous %}
                <a href="{{ paginator.previous }}">To newer posts</a>
            {% endif %}
        </div>
        <div class="right pagination-item {% if not paginator.next %}disabled{% endif %}">
            {% if paginator.next %}
                <a href="{{ paginator.next }}">To older posts</a>
            {% endif %}
        </div>
    </div>
{% endmacro page_pagination %}

<!-- project listing macros -->
{% macro project_listing(page) %}
    <article class="rounded-md p-4 shadow-md cursor-pointer dark:bg-slate-700"
             onclick="location.href='{{ page.path }}'">
        <a href="{{ page.path }}">
            <header>
                <h3 class="text-xl font-mono text-center">
                    {{ page.title }}
                </h3>
            </header>

            {% if page.summary %}
                <div class="content post-summary prose dark:prose-invert">
                    {{ page.summary | markdown | safe }}
                </div>
            {% endif %}
        </a>

        {{ self::project_info(page=page) }}
        {{ self::page_tags(page=page) }}
    </article>
{% endmacro page_listing %}

{% macro project_info(page) %}
    <div>
        {% if page.date %}
            {% set reading_time = "◦ " ~ page.reading_time ~ " " ~ "min" %}
            <div class="text-center font-light">{{ page.date | date(format="%Y-%m-%d") }} {{ reading_time }} </div>
        {% endif %}
    </div>
{% endmacro project_info %}