---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props }: Props = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
const classes = ["basis-1/3", "font-mono", "text-lg", "font-light", "hover:underline"];
---

<a href={href} class:list={[...classes, { underline: isActive }]} {...props}>
	<slot />
</a>
