---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav
    class="flex flex-row text-center justify-evenly mb-10 py-4 border-4 border-double border-zinc-500 dark:border-zinc-300 bg-purple-200 dark:bg-purple-900"
  >
    <HeaderLink href="/blog">/blog</HeaderLink>
    <HeaderLink href="/projects">/projects</HeaderLink>
    <HeaderLink href="/about">/about</HeaderLink>
  </nav>
</header>
