{% import "macros/social.html" as social_macros %}

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{{ config.description }}">

    <link rel="stylesheet" href="/main.css" type="text/css">

    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}

    {% block ogp_head %}
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:type" content="website">
    {% endblock ogp_head %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body class="bg-zinc-50 dark:bg-zinc-800 text-zinc-700 dark:text-zinc-200">
<div class="container mx-auto px-2 md:px-20 pt-5">
    {% block header %}
    {% set base_url = get_url(path="", lang=lang) %}
    <header>
        <nav class="flex flex-row text-center justify-evenly mb-10 py-4
        border-4 border-double border-zinc-500 dark:border-zinc-300 dark:bg-zinc-700">
            {% block nav_bar %}
            {% for subsec in config.extra.menu_items %}
                <a class="basis-1/3 font-mono text-lg font-light hover:underline
                        {% if current_path and current_path == subsec.url %} underline{% endif %}"
                   href="{{ subsec.url }}">/{{ subsec.name }}</a>
            {% endfor %}
            {% endblock nav_bar %}
        </nav>
    </header>
    {% endblock header %}
    {% block content %}
    {% endblock content %}
    <footer>
        <p>
            {{ social_macros::social_links(social_config=config.extra.social) }}
        </p>
        <p>
            {% block footer %}
            {% endblock footer %}
        </p>
    </footer>
</div>
</body>
</html>
