.z-code {
    color: #27272a;  /* zinc-800 */
    background-color: #fafafa;  /* zinc-50 */
}

.z-comment {
    color: #334155;
}

.z-constant.z-numeric, .z-constant.z-language, .z-support.z-constant, .z-constant.z-character, .z-variable.z-parameter, .z-punctuation.z-section.z-embedded, .z-keyword.z-other.z-unit, .z-punctuation.z-quasi.z-element.z-begin.z-js, .z-punctuation.z-quasi.z-element.z-end.z-js, .z-string, .z-entity.z-other.z-inherited-class, .z-markup.z-heading, .z-constant.z-other.z-symbol {
    color: #0369a1;
}

.z-keyword, .z-constant.z-other.z-color, .z-storage {
    color:
            #6d28d9;  /* violet-700 */
}

.z-entity.z-name.z-function, .z-entity.z-name.z-method, .z-meta.z-function-call, .z-support.z-function, .z-keyword.z-other.z-special-method, .z-meta.z-block-level, .z-accessor {
    color: #0f766e;
}

.z-macro, .z-annotation {
    color: #be123c;
}

.z-path, .z-name {
    color: #c026d3; /* fuchsia-600 */
}

pre.z-code {
    border: 1px solid #d4d4d8; /* zinc-300 */
}
